button {
    width: 160px;
    height: 45px;
    border-radius: 30px;
    font-weight: 700;
    font-size: .8em;
    text-transform: capitalize;
    color: var(--white);
    background: var(--gradient-green-cyan);
}