.footer__container {
  background-color: var(--blue-dark);

  .box__container {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left__container {
      display: flex;
      column-gap: 6em;

      .logo {
        filter: invert(1);
      }

      .networks__box {
        display: flex;
        flex-direction: column;
        row-gap: 4em;

        .list {
          display: flex;
          column-gap: 1em;
        }
      }

      .list-menu {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
        font-size: 0.9em;

        .item {
          color: var(--white);
        }
      }
    }

    .right__container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      row-gap: 1.5em;

      p {
        font-size: 0.8em;
        color: var(--blue-grayish);
      }
    }
  }
}
