.latest-articles__container {
    background-color: var(--light);

    .box__container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 1.5em;

        h2 {
            font-size: 2.1em;
            font-weight: 400;
        }
    }
}